# Firebase Configuration for Production (Netlify/Vercel)
VITE_FIREBASE_API_KEY=AIzaSyB85i4UYIUyh6pCznSj8vNCerNxqiaGLUw
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0422488466.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0422488466
VITE_FIREBASE_APP_ID=1:25712384662:web:089e5a6787cc95c43b40b7
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-c0781f91-a5a6-4912-b990-8f2c1d537198
